RewriteEngine on
RewriteBase /
Options -Indexes

ErrorDocument 400 https://lirolake.com
ErrorDocument 402 https://lirolake.com
ErrorDocument 403 https://lirolake.com
ErrorDocument 404 https://lirolake.com
ErrorDocument 405 https://lirolake.com
ErrorDocument 406 https://lirolake.com
ErrorDocument 407 https://lirolake.com
ErrorDocument 408 https://lirolake.com
ErrorDocument 409 https://lirolake.com
ErrorDocument 410 https://lirolake.com
ErrorDocument 411 https://lirolake.com
ErrorDocument 412 https://lirolake.com
ErrorDocument 413 https://lirolake.com
ErrorDocument 414 https://lirolake.com
ErrorDocument 415 https://lirolake.com
ErrorDocument 416 https://lirolake.com
ErrorDocument 417 https://lirolake.com
ErrorDocument 422 https://lirolake.com
ErrorDocument 423 https://lirolake.com
ErrorDocument 424 https://lirolake.com
ErrorDocument 500 https://lirolake.com
ErrorDocument 501 https://lirolake.com
ErrorDocument 502 https://lirolake.com
ErrorDocument 503 https://lirolake.com
ErrorDocument 504 https://lirolake.com
ErrorDocument 505 https://lirolake.com
ErrorDocument 506 https://lirolake.com
ErrorDocument 507 https://lirolake.com
ErrorDocument 510 https://lirolake.com

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^sot-drops-bot$ "https://discord.com/oauth2/authorize?client_id=861319119079997510&permissions=268692480&scope=bot%20applications.commands" [R=302,L]
RewriteRule ^omnia-bot$ "https://discord.com/oauth2/authorize?client_id=838290918548439062&permissions=8589934591&scope=bot%20applications.commands" [R=302,L]
