@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
  background: #03192E;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #04223E;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16.8em 0 14.8em 0;
  height: 100vh;
  width: 100vw;
}

.add_to_discord {
  text-align: center;
  margin:0 auto;
  display: flex;
  align-items: center;
  background-color: blueviolet;
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: 17px !important;
  line-height: 21px !important;
  color: #fff;
  padding: 27px;
  height: 58px;
  outline: none;
}
.add_to_discord svg {
  padding-right: 20px;
  box-sizing: unset;
}
.add_to_discord:hover {
  background-color: rgb(152, 67, 233);
  text-decoration: none;
}
